.teamProfilePage{
    padding-top:100px;
    min-height: 100vh;
    margin-bottom: 50px;

    .teamUsers{
        display: flex;
        justify-content: center;
        width: 70%;
        margin: 0 auto;
        flex-wrap: wrap;
    }
}
