@import url("https://fonts.googleapis.com/css?family=Prompt&display=swap");

.navigation {
  width: 100%;
  display: flex;
  justify-content: center;

  .navbar {
    padding: 0px 10%;
    font-family: "Prompt", sans-serif;
    position: fixed;
    height: 90px;
    display: flex;
    border-bottom: solid 1px black;
    transition: all 0.1s;

    .my-logo {
      width: 80px;
    }

    .my-color {
      color: white;
      letter-spacing: 1px;
    }

    .nav-item {
      margin: 0 1vw;
      text-align: center;
      border-bottom: solid 2px black;
    }

    .nav-link {
      padding: 0;
    }

    .nav-item:hover {
      transition: all 0.3s;
      border-bottom: solid 2px white;

      .my-color {
        color: white;
      }
    }

    .logout {
      cursor: pointer;
    }

    @media only screen and (max-width: 990px) {
      .ml-auto {
        background-color: grey;
        width: 100%;
      }
    }

    @media only screen and (max-width: 700px) {
      width: 100%;
    }

    @media only screen and (max-width: 990px) {
      button {
        margin-top: 25px;
      }
    }
  }
}
