.u-padding0x30{
    padding: 0 30px;
}

.navLogo{
    font-size: 1.7em;
}

.navbar{
    border-bottom: solid 4px #ff9824;
    width: 90%;
    margin:auto;
    border-radius: 30px;
}

a{
    color:#423a31;
}