.homePage{
    // background-image: url("../../../cool-background\ \(1\).svg");
    // background-attachment: fixed;
    // background-size: cover;
    // height: 90vh;
    background-color: #086a75;
    height: 50vh;
    padding-top:80px;

    // svg{
    //     padding-top:100px;
    // }
}

