.hrPage{
    min-height: 100vh;
    // padding-top:80px;
    padding-top:100px;
    .competence{
        border:none;
        border: solid 2px orange;
        background-color: #f5ebda;
        border-top: none;
    }
}