.hrPage{
    min-height: 100vh;
    padding-top:100px;
    width: 70%;
    margin:auto;
    font-family: 'Prompt', sans-serif;
   
    .competence{
        margin: 15px 0;
        padding: 20px;
        cursor: pointer;
        border: solid 2px black;
    }

    @media screen and (max-width: 800px){
        width: 100%;
    }
}