.Profile{
    

    td{
        // border-right: 2px solid red;
        // border-bottom: 2px solid red;
        // padding: 8px;
        text-align: center;
      }
    // tr:hover{
    //     background-color: gray;
    // }
    tr:nth-child(even) {background-color: #f2f2f2;}

      .criteria{
        background-color: red;
    }
    
    .criteriaName{
        background-color: orange;
    }
    
    .u-textCenter{
        text-align: center;;
    }
    
    button, select{
        background-color: white;
        border: solid 2px orange;
        border-radius: 50px;
        padding: 5px 20px;
        margin: 5px;
    }

    button:hover, select:hover{
        transition: 0.3s;
        transform: scale(1.04);
    }

    .competence{
        border:none;
        border: solid 2px orange;
        background-color: white;
        border-top: none;
    }

}