footer{
    height: 70px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-top: solid 2px black;
    border-radius: 5px;
    background-color: transparent;
    // position: fixed;
}